{% extends "back/master.html" %}
{% load static%}
{% block mainblock %}
    <!-- Page content -->
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>Categories List<br><small>This is News Dashboard</small>
                </h1>
            </div>
        </div>

        <ul class="breadcrumb breadcrumb-top">
            <li>Categories</li>
            <li><a href="/panel/categories/list/">list</a></li>
        </ul>


        <!-- END Datatables Header -->

        <!-- Datatables Content -->
    <br>
    <br>
        <div class="block full">
            <div class="block full">
                <h1>
                    <i class=""></i>Export Data<br><br>
                    <a href="{% url 'export_cat_csv' %}" data-toggle="tooltip" title="ExportCSV" class="btn btn-xs btn-danger"><i class=""><h5>Export CSV</h5></i></a>
                </h1>
            </div>
        </div>

        <br>
        <br>
        <div class="block full">
            <div class="block full">
                <h3>

                    <form action="{% url 'import_csv' %}" method="POST" enctype="multipart/form-data" class="form-group">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Import CSV File</label><br>
                            <input type="file" id="csv_file" name="csv_file" >
                            <br>
                            <button>Submit</button>
                        </div>
                        </form>
                </h3>
            </div>
        </div>

        <div class="block full">
            <div class="block-title">
                <h2><strong>Categories</strong> List</h2>
            </div>



            <div class="table-responsive">
                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in cat %}
                        <tr>

                            <td class="text-center ">{{c.pk}}</td>
                            <td>{{c.name}}</td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                    <a href="" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
        <!-- END Datatables Content -->
    </div>
    <!-- END Page Content -->
{% endblock %}


{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static "back/js/pages/tablesDatatables.js" %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}