{% extends "back/master.html" %}
{% load static%}
{% block mainblock %}
    <!-- Page content -->
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>SubCategories List<br><small>This is Sub Ctegory Dashboard</small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>SubCategories</li>
            <li><a href="/panel/categories/list/">list</a></li>
        </ul>
        <!-- END Datatables Header -->

        <!-- Datatables Content -->
        <div class="block full">
            <div class="block-title">
                <h2><strong>SubCategories</strong> List</h2>
            </div>

            <div class="table-responsive">
                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Sub Category</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in subcat %}
                        <tr>

                            <td class="text-center ">{{c.pk}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.catname}}</td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                    <a href="" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Datatables Content -->
    </div>
    <!-- END Page Content -->
{% endblock %}


{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static "back/js/pages/tablesDatatables.js" %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}